{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<!-- Sign Out page -->
<section id="signout">
  <div class="container login-cont mb-5 col-md-8">
    <div class="row mt-5">
      <div class="col-md-8 mt-4 offset-md-2 text-dark">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to log out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-signup btn-lg right btn-success mt-3 mb-5" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}