
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du&family=Roboto:wght@100&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Kay Pho Du, sans-serif;
    font-weight: 300;
    background-color: #79f4f6;
}
.update-post-pg {
    background-color: #79f4f6;
}

/*---------------------------Nav bar buttons */

#logo img {
    border-radius: 25px;
}

.navbar {
    background-color: #19d9ee;
}

.nav-link:hover {
    text-decoration: underline;
    transition: ease-in-out;
}

.nav-item {
    border-radius: 5px;
    background-color: #4A4A4F;

}
.navbar-text {
    color: rgb(0, 0, 0);
}

.a-tag {
    margin-left: 15px;
    color: rgb(0, 0, 0);
}

/*------------------------------------------------------------Home page*/
.carousel-item img {
    height: 32vh;
}

.carousel-item h3 span {
    color: #f7e23f;
}

.carousel-item p {
    font-size: 1.2rem;
}

.carousel-caption {
    background-color: rgba(0, 12, 16, 0.6);
}

#smartphones h2 span {
    color: #f70808;
}

#smartphones .card {
    box-shadow: 1px 1px 5px 3px rgb(245, 196, 196);
}

/*------------------------------------------------------------Footer*/

footer {
    background-color: #19d9ee;
    color: rgb(0, 0, 0);
}

footer p a {
    color: rgb(4, 30, 134);
    font-size: 1.1rem;
    text-decoration: none;
}

footer a {
    color: rgb(4, 30, 134);
    text-decoration: none;
}

footer a:hover {
    color: #b8ebeb;
    text-decoration: underline;
}

/*About Page*/
#about .introduction {
    border-bottom: thick double #fa0303;;
}

#about p,
ul {
    font-size: 1.2rem;
}

/*-----------------Blog Page--------------*/
#blog-page p {
    font-size: 1.2rem;
}

#blog-page .card,
#user-posts .card {
    box-shadow: 1px 1px 5px 3px rgb(73, 95, 141);
}

#blog-page .sma-heading,
#smartphone-post .sma-heading,
#user-posts .sma-heading {
    background-color: rgba(15, 16, 16, 0.6);
    color: #f7e23f;
    line-height: 30px;
}

#blog-page .card-title,
#smartphone-post .card-title,
#user-posts .card-title {
    color: black;
    text-decoration: none;
}

/*--------Post and smartphone-------*/
#smartphone-post h2 span,
#user-page h2 span,
#user-posts h2 span,
#update-post h2 span,
#add-post h2 span {
    color: #a00505;
}

#smartphones .card {
    box-shadow: 1px 1px 5px 3px rgb(245, 196, 196);
}

#smartphone-post .card {
    box-shadow: 1px 1px 3px 2px #b8ebeb;
}

#smartphone-post .no-post-msg {
    height: 200px;
}

#post-description .post-comment {
    box-shadow: 1px 1px 5px 3px rgb(195, 191, 191);
}

/*----------------------Sign in, Sign up, Logout*/
#signup .container,
#signin .container,
#logout .container {
    height: auto;

/* -----------choice for future to change
    /* border-radius: 20px;
    box-shadow: 20px 20px 20px 20px #f0eccd inset; */
}

#signup p,
#signin p {
    font-size: 1.2rem;
}

#logout p {
    font-size: 1.4rem;
}
.signupdiv,
.login-cont {
    background-color: #a8f8f8;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgb(95, 61, 244); 
}

/*--------------------------------Input Fields*/
.input-fields input,
.input-fields select,
.input-fields textarea {
    min-width: -webkit-fill-available;
}

.input-fields select option {
    padding-left: 5px;
}

.control-group label {
    font-size: 23px;
}



/* Media queries for different screen size*/

@media screen and (min-width:485px) {
    .carousel-item img {
        height: 55vh;
    }
}

@media screen and (min-width:950px) {
    .carousel-item img {
        height: 70vh;
    }
}