
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du&family=Roboto:wght@100&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Kay Pho Du, sans-serif;
    font-weight: 300;
    background-color: #79f4f6;
}

/* ------------------navebar-------------*/

#logo img {
    border-radius: 25px;
}

.navbar {
    background-color: #19d9ee;
}

.nav-link:hover {
    text-decoration: underline;
    transition: ease-in-out;
}

.nav-item {
    border-radius: 5px;
    background-color: #4A4A4F;

}
.navbar-text {
    color: rgb(0, 0, 0);
}

.a-tag {
    margin-left: 15px;
    color: rgb(0, 0, 0);
}

/* ------------------navebar-------------*/

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.home-pg,
#hero-section,
#post-description,
.threegtopromax {
    background-color: #b4f8fa;
}



.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border-radius: 15px;
}

.image-container {

    position: relative;
}
.card img {
    width: 100%;
    height: 100%;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


.signupdiv,
.login-cont {
    background-color: #a8f8f8;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgb(95, 61, 244);
}


/* --------About Page _------------*/

.main-col,
#about {
    background-color: #b4f8fa;
}

.card-body {
    background-color: ;
}

/*----------Add post----------*/

.pg-col,
#user-posts { 
    background-color: #b4f8fa;
}


.card-img-top {
    background-color: transparent;
    width: 100%;
    height: 100%;

}
/*---------- Footer ---------*/


footer {
    background-color:#19d9ee ;
    color: rgb(0, 0, 0);
}

footer p a {
    color: rgb(4, 30, 134);
    font-size: 1.1rem;
    text-decoration: none;
}

footer a {
    color: rgb(4, 30, 134);
    text-decoration: none;
}

footer a:hover {
    color: #b8ebeb;
    text-decoration: underline;
}
