{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About section -->
<section id="about" class="bg-body-tertiary p-3 text-dark bg-opacity-10">
    <h2 class="text-center mt-1">About Us</h2>
    <div class="container introduction pb-4">
        <div class="row d-flex justify-content-center">
            <div class=" col-md-5 offset-1">
                <img src="{% static 'images/' %}" style="height:250px;" alt="">
            </div>
            <div class="col-md-15 mt-5">
                <h1 class=" text-right"></h1>
                <h4 class="text-right">Iphone Lovers blog is all about the various iPhones and the phones which are products of Apple</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-20">
                <h3 class="text-center"> <i class="fa-solid fa-flag"></i> History </h3>
                <p>add content</p>
            </div>
            <img src="{% static 'images/' %}" style="height:400px;" alt="">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-hands-praying"></i> iPhone models and choices</h3>
                <p>add content</p>
            </div>
            <img src="{% static 'images/' %}"style="height:400px;" alt="">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-hands"></i> Attractive Design & Technologies used by Apple </h3>
                <p>add content</p>
            </div>
            <img src="{% static 'images/' %}"style="height:400px;" alt="">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-pepper-hot"></i> Why iPhone is different than other phones</h3>
                <p>add content.</p>
            </div>
            <img src="{% static 'images/' %}" style="height:400px;"alt="">
        </div>
    </div>
</section>
    {% endblock %}