{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About section -->
<section id="about" class="bg-body-tertiary p-3 text-dark bg-opacity-10">
    <h2 class="text-center mt-1">About Us</h2>
    <div class="container introduction pb-4">
        <div class="row d-flex justify-content-center">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"> <i class="fa-solid fa-light fa-users"></i>We Love iPhones and would love to share the experiece with the world</h3>
                <p>We made this blog to see how many people love iPhones. Actually since iPhone 1st (1st generation)came out in time in 2007, 
                    people love them and not only as a smartphone, people also love because of it's unique style and setting 
                    the standards high always in the smartphone market. Regardless of its generations it still has high place in the smartphone market.
                    From a child or teenager to any old age person, iPhone has big fan following 
                    that is what make this website to come out and encourage to share their experience with iPhone. Please make an account in the account page
                    and add a post.</p>
                    <p>The iPhone is a popular brand of smartphone that is known for its sleek design, user-friendly
                        interface, and wide range of features. Many people appreciate the phone's high-quality camera,
                        the ability to easily download and use a wide variety of apps, and the security features that
                        protect user data. Additionally, the iPhone is often associated with a sense of prestige and
                        status, which can be appealing to some consumers. Overall, the iPhone has a strong reputation
                        for being a reliable and high-quality device, which has contributed to its popularity among
                        fans.</p>
                </div>
            <img src="{% static 'images/slider/sharing-2.jpeg' %}"  alt="sharing smartphone experiece">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-light fa-people-arrows"></i>Do you like smartphone or You are a Tech Expert</h3>
                <p>We made this blog to see how many people love iPhones. Actually since iPhone 1st came out in time in 2007, 
                    people love them and not only that as a smartphone, people also love because of it's unique style and setting 
                    the standard high always in the smartphone market, regardless of its generation. From a child to any old age iPhone has big fan following 
                    that is what make this website to come out and encourage to share oher people's experience with the iPhone. 
                    and high standard   </p>
            </div>
            <img src="{% static 'images/slider/other-smartphones.jpeg' %}" alt="smartphones">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-light fa-mobile-screen"></i> Attractive Design & Extra Ordinary Technologies used by Apple</h3>
                <p> Back in 2007/2008 Apple gave a big surprise to the world by launching an iPhone, at that time it was beyond the imagination
                    the smartphone Apple introduced. Let's read a bit of history ...In 1999, Apple CEO Steve Jobs envisioned an Apple touchscreen 
                    product that the user could interact
                    with directly with their fingers rather than using a stylus.[citation needed] The stylus was a
                    common tool for many existing touchscreen devices at the time including Apple's own Newton, launched
                    in 1993. He decided that the device would require a triple layered capacitive multi-touch touch
                    screen, a very new and advanced technology at the time. This helped with removing the physical
                    keyboard and mouse, the same as was common at the time for tablet computers, human machine
                    interfaces and point of sale systems. Jobs recruited a group of Apple engineers to investigate the
                    idea as a side project. When Jobs reviewed the prototype and its user interface, he saw the
                    potential in developing the concept into a mobile phone to compete with already established brands
                    in the then emerging market for touch screen phones. The whole effort was called Project Purple 2
                    and began in 2005. Apple purchased the "iphone.org" domain in December 1999.</p>
            </div>
            <img src="{% static 'images/iphone-1.webp' %}" alt="iphone">
        </div>
    </div>
</section>
    {% endblock %}