{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Food section -->
<section id="all_models" class="bg-body-tertiary p-3 text-dark bg-opacity-10">
    <div class="container introduction pb-4">
        <div class="row d-flex justify-content-center">
            <h2 class="text-center"> iPhone 3G to iPhone 15 Promax </h2>
            <div class="text-center">
                <img src="{% static 'images/' %}" alt="line decoraction">
            </div>
            <div class="col-md-15 mt-3">
                <h1 class=" text-right"></h1>
                <h4 class="text-right">All the IPhone models and their technical specifications along the years of manufactured and came to the market.</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-left">
            <div class=" col-md-3">
                <img src="{% static 'images/IPhone1,1.png' %}" alt="IPhone1">
            </div>
            <div class="col-md-9">
                <h3 class="text-left"> iPhone 1st Generation</h3>
                <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
            </div>
            <div class="row mt-3">
            <div class="row d-flex justify-content-left">
                <div class=" col-md-3">
                    <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                </div>
                <div class="col-md-9">
                    <h3 class="text-left"> iPhone 1st Generation</h3>
                    <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row d-flex justify-content-left">
                    <div class=" col-md-3">
                        <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-left"> iPhone 1st Generation</h3>
                        <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="row d-flex justify-content-left">
                        <div class=" col-md-3">
                            <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                        </div>
                        <div class="col-md-9">
                            <h3 class="text-left"> iPhone 1st Generation</h3>
                            <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="row d-flex justify-content-left">
                            <div class=" col-md-3">
                                <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-left"> iPhone 1st Generation</h3>
                                <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="row d-flex justify-content-left">
                                <div class=" col-md-3">
                                    <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                </div>
                                <div class="col-md-9">
                                    <h3 class="text-left"> iPhone 1st Generation</h3>
                                    <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="row d-flex justify-content-left">
                                    <div class=" col-md-3">
                                        <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                    </div>
                                    <div class="col-md-9">
                                        <h3 class="text-left"> iPhone 1st Generation</h3>
                                        <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="row d-flex justify-content-left">
                                        <div class=" col-md-3">
                                            <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="text-left"> iPhone 1st Generation</h3>
                                            <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="row d-flex justify-content-left">
                                            <div class=" col-md-3">
                                                <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                            </div>
                                            <div class="col-md-9">
                                                <h3 class="text-left"> iPhone 1st Generation</h3>
                                                <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="row d-flex justify-content-left">
                                                <div class=" col-md-3">
                                                    <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                </div>
                                                <div class="col-md-9">
                                                    <h3 class="text-left"> iPhone 1st Generation</h3>
                                                    <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="row d-flex justify-content-left">
                                                    <div class=" col-md-3">
                                                        <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h3 class="text-left"> iPhone 1st Generation</h3>
                                                        <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="row d-flex justify-content-left">
                                                        <div class=" col-md-3">
                                                            <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <h3 class="text-left"> iPhone 1st Generation</h3>
                                                            <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="row d-flex justify-content-left">
                                                            <div class=" col-md-3">
                                                                <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                            </div>
                                                            <div class="col-md-9">
                                                                <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="row d-flex justify-content-left">
                                                                <div class=" col-md-3">
                                                                    <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                    <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-3">
                                                                <div class="row d-flex justify-content-left">
                                                                    <div class=" col-md-3">
                                                                        <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                        <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-3">
                                                                    <div class="row d-flex justify-content-left">
                                                                        <div class=" col-md-3">
                                                                            <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                            <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-3">
                                                                        <div class="row d-flex justify-content-left">
                                                                            <div class=" col-md-3">
                                                                                <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                                <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="row d-flex justify-content-left">
                                                                                <div class=" col-md-3">
                                                                                    <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                                </div>
                                                                                <div class="col-md-9">
                                                                                    <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                                    <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mt-3">
                                                                                <div class="row d-flex justify-content-left">
                                                                                    <div class=" col-md-3">
                                                                                        <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                                    </div>
                                                                                    <div class="col-md-9">
                                                                                        <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                                        <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row mt-3">
                                                                                    <div class="row d-flex justify-content-left">
                                                                                        <div class=" col-md-3">
                                                                                            <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                                        </div>
                                                                                        <div class="col-md-9">
                                                                                            <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                                            <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row mt-3">
                                                                                        <div class="row d-flex justify-content-left">
                                                                                            <div class=" col-md-3">
                                                                                                <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                                                                                            </div>
                                                                                            <div class="col-md-9">
                                                                                                <h3 class="text-left"> iPhone 1st Generation</h3>
                                                                                                <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                                                                                            </div>
                                                                                        </div>
                                                                                         <div class="row mt-3">
            <div class="row d-flex justify-content-left">
                <div class=" col-md-3">
                    <img src="{% static 'images/IPhone_5.png' %}" alt="IPhone1">
                </div>
                <div class="col-md-9">
                    <h3 class="text-left"> iPhone 1st Generation</h3>
                    <p>This is first ever made iPhone by Apple called Iphone (1st Generation) Developed in 2007</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row d-flex justify-content-left">
                    <div class=" col-md-3">
                        <img src="{% static 'images/IPhone3G.png' %}" alt="IPhone3G">
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-left"> iPhone 3G (2nd iPhone)</h3>
                        <p>The 2nd time launched iphone model was identical to the first iPhone made by apple and making
                            their stable place in the phone market by Apple</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="row d-flex justify-content-left">
                        <div class=" col-md-3">
                            <img src="{% static 'images/IPhone3GS.png' %}" alt="IPhone3GS">
                        </div>
                        <div class="col-md-9">
                            <h3 class="text-left"> iPhone 3GS</h3>
                            <p>A unique and Attractive design launched by apple a new iphone model by apple was iphone 4
                            </p>
                        </div>
                        <div class="row mt-3">
                            <div class="row d-flex justify-content-left">
                                <div class=" col-md-3">
                                    <img src="{% static 'images/IPhone4.png' %}" alt="IPhone4">
                                </div>
                                <div class="col-md-9">
                                    <h3 class="text-left">iPhone 4 </h3>
                                    <p>Keeping the same standard but high in the specification the new but same looking
                                        model launched by apple was iPhone 4S</p>
                                </div>
                                <div class="row mt-3">
                                    <div class="row d-flex justify-content-left">
                                        <div class=" col-md-3">
                                            <img src="{% static 'images/IPhone4S.png' %}" alt="IPhone4S">
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="text-left"> iPhone 4S </h3>
                                            <p>add content</p>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="row d-flex justify-content-left">
                                                <div class=" col-md-3">
                                                    <img src="{% static 'images/300px-IPhone_5.png' %}" alt="IPhone_5">
                                                </div>
                                                <div class="col-md-9">
                                                    <h3 class="text-left"> iPhone 5 </h3>
                                                    <p>add content</p>
                                                </div>

                                            </div>
                                        </div>
</section>
{% endblock %}